.ikc {
	text-align: center;
	padding: 40px;
	background: #fff url(../img/bg.jpg) center center no-repeat;
	background-size: cover;
	border: 10px solid #fff;
	min-height: 400px;
	margin-bottom: 40px;
	display: table;
	width: 100%;
}

.ikc__wrapper {
	display: table-cell;
	vertical-align: middle;
}

#countDown {
	margin: 0;
	font-size: 50px;
	color: #fff;
	text-shadow: 0 0 30px rgba(0,0,0,1);
}

.tagline {
	color: #333;
	font-size: 18px;
}